In [68]:
import sqlite3
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings('ignore')

In [69]:
conn = sqlite3.connect("main.db")

In [70]:
account_raw = pd.read_csv(r"./source/Account.csv")
account_ownership_raw = pd.read_csv(r"./source/AccountOwnership.csv")

In [71]:
account_ownership_raw.head()

,Account No,Chart Id,Description,Node Type,Image,Calc 1,Calc 2,Calc 3,Ownership Id,Seq No,Key Id,Parent Key Id
0,NaN,NaN,Ownership Root,Root,58,NaN,NaN,NaN,142,1.0,$ROOT,NaN
1,NaN,NaN,Unowned Root,UnOwned Root,58,NaN,NaN,NaN,142,0.5,$UNOWNED,0
2,11000,1.0,Cash - Operating Acct #8854,Data,59,NaN,NaN,NaN,142,1.0,1_11000,1_CASH
3,11100,1.0,Cash - Disburse Acct #0376,Data,59,NaN,NaN,NaN,142,2.0,1_11100,1_CASH
4,11200,1.0,Cash - Disbursement Manual,Data,59,NaN,NaN,NaN,142,3.0,1_11200,1_CASH

In [72]:
account_raw.head()

,Chart Id,Account No,Account,Account Type,DR/CR,Posting Level,Inter-Company Flag,Security Status,Revaluation,Reconciliation,Account Control Class,Class Description,Conversion Type Id,Conversion Type Description,UDF 1,XBRL Tag,User Created,Date Created
0,1.0,12600,Investments Contra to 1201-Unrealized adjustme...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
1,1.0,12900,Contra Investments - restricted for capital ac...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
2,1.0,RSTINV,RESTRICTED CASH & INVESTMENTS,Asset,Both Debit/Credit,Restricted,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
3,1.0,12010,Investment - TexPool - LPPF,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
4,1.0,12020,Investment - TexPool - COs,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022

# Import Account

In [75]:
account_df = account_raw.copy()
account_df.columns = account_df.columns.str.replace(" ", "")
account_df.columns = account_df.columns.str.replace("-", "")
account_df

,ChartId,AccountNo,Account,AccountType,DR/CR,PostingLevel,InterCompanyFlag,SecurityStatus,Revaluation,Reconciliation,AccountControlClass,ClassDescription,ConversionTypeId,ConversionTypeDescription,UDF1,XBRLTag,UserCreated,DateCreated
0,1.0,12600,Investments Contra to 1201-Unrealized adjustme...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
1,1.0,12900,Contra Investments - restricted for capital ac...,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
2,1.0,RSTINV,RESTRICTED CASH & INVESTMENTS,Asset,Both Debit/Credit,Restricted,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
3,1.0,12010,Investment - TexPool - LPPF,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
4,1.0,12020,Investment - TexPool - COs,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,MANAGER,12/06/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,1.0,14001,Accounts Receivable Manual,Asset,Both Debit/Credit,Allowed,Disabled,Unsecured,0.0,0.0,BAL,BALANCE SHEET,NaN,NaN,NaN,NaN,THOMASE,04/06/2023
268,1.0,98010,Inflation General,Statistic,Debit,Allowed,Disabled,Unsecured,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,JOHNSONK,02/13/2024
269,1.0,98012,Inflation IT,Statistic,Debit,Allowed,Disabled,Unsecured,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,JOHNSONK,03/01/2024
270,1.0,LSERECLT,LEASE RECEIVABLE LONG TERM*,Asset,Both Debit/Credit,Restricted,Disabled,Unsecured,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,BETHKEP,03/10/2024
271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN