In [11]:
import sqlite3
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings('ignore')

In [12]:
conn = sqlite3.connect("main.db")

In [13]:
raw = pd.read_csv(r"C:\Users\adamss\OneDrive - Central Health\Budget Project\csvUploads\rads.csv")
raw.head()

   Id RADTypeId   RADType   RADId                          RAD
0   1      BENE  Benefits    401A               Pension (401a)
1   2      BENE  Benefits     457   Deferred Compensation(457)
2   3      BENE  Benefits     CAR                Car Allowance
3   4      BENE  Benefits    CELL         Cell Phone Allowance
4   5      BENE  Benefits  DENTAL  Employee Insurance - Dental

In [14]:
rad = raw.copy()
rad = rad[['RADTypeId', 'RADId', 'RAD']]
rad.head()

  RADTypeId   RADId                          RAD
0      BENE    401A               Pension (401a)
1      BENE     457   Deferred Compensation(457)
2      BENE     CAR                Car Allowance
3      BENE    CELL         Cell Phone Allowance
4      BENE  DENTAL  Employee Insurance - Dental

In [15]:
def import_func(df: pd.DataFrame()) -> None:
    df.to_sql('Rad', conn, if_exists='append', index=False)
    
# import_func(rad)