In [1]:
import sqlite3
import pandas as pd
import warnings
import numpy as np

warnings.filterwarnings('ignore')

In [2]:
conn = sqlite3.connect("main.db")

In [3]:
raw = pd.read_csv(r"C:\Users\adamss\OneDrive - Central Health\Budget Project\csvUploads\rads.csv")
raw.head()

   Id RADTypeId   RADType   RADId                          RAD
0   1      BENE  Benefits    401A               Pension (401a)
1   2      BENE  Benefits     457   Deferred Compensation(457)
2   3      BENE  Benefits     CAR                Car Allowance
3   4      BENE  Benefits    CELL         Cell Phone Allowance
4   5      BENE  Benefits  DENTAL  Employee Insurance - Dental

In [9]:
rad = raw.copy()
rad = rad[['RADTypeId', 'RADType']]
rad = rad.drop_duplicates()
rad.head()

   RADTypeId                    RADType
0       BENE                   Benefits
12        CC       CREDIT CARD MERCHANT
15       CIP        Capital in Progress
29        CO  Certificate of Obligation
35      CONS               Construction

In [11]:
def import_func(df: pd.DataFrame()) -> None:
    df.to_sql('RadType', conn, if_exists='append', index=False)
    
# import_func(rad)